# compiled output
dist/
build/

# dependencies
node_modules/
.pnp
.pnp.js

# Turbo
.turbo/

# Angular
.angular/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests / Coverage
coverage/
.nyc_output/

# dotenv files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# CDK
infra/cdk/cdk.out/
infra/cdk/*.js
infra/cdk/*.d.ts
infra/cdk/tsconfig.tsbuildinfo

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# temp
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
